@{
    ViewBag.Title = "Messages";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    
    <h1 class="page-header">Messages</h1>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="inputFrom">From date</label>
                    <div class="input-group">
                        <div class="input-group-addon">From</div>
                        <input type="date" class="form-control" id="inputFrom" placeholder="Date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputTo">To date</label>
                    <div class="input-group">
                        <div class="input-group-addon">To</div>
                        <input type="date" class="form-control" id="inputTo" placeholder="Date">
                    </div>
                </div>
                <button type="submit" id="showMessages" class="btn btn-primary">Show</button>
            </form>
        </div>
    </div>
    
    <hr />
    
    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nick</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section PageScripts
{
    <script src="~/scripts/require.js" data-main="/scripts/messages.js"></script>
}