@{
    ViewBag.Title = "Messages";
}

<header id="topbar" class="alt">
    <div>
        <ol class="breadcrumb">
            <li class="crumb-active">
                <a href="/">Messages</a>
            </li>
            <li class="crumb-icon">
                <a href="/">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">Messages</li>
        </ol>
    </div>
</header>

<section id="content" class="animated fadeIn">

    <div class="row">
            
        <div class="col-md-8">
                
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-comment"></i>
                    </span>
                    <span class="panel-title"> Messages</span>
                </div>
                <div class="panel-body">
                </div>
            </div>

        </div>
        
        <div class="col-md-4">

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <span class="panel-title">Select Time</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" id="formMessages">
                        <div class="form-group mt10">
                            <label class="col-md-3 control-label" for="inputStart">Start</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputStart">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputEnd">End</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputEnd">
                            </div>
                        </div>
                        <button type="button" class="btn ladda-button btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">Go</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>

</section>

@section PageStyles
{
    <link rel="stylesheet" type="text/css" href="~/content/vendor/datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendor/datatables/extensions/editor/css/dataTables.editor.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendor/datatables/extensions/colreorder/css/dataTables.colReorder.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendor/datepicker/css/bootstrap-datetimepicker.css" />
}

@section PageScripts
{
    <script src="~/content/vendor/moment/moment.min.js"></script>
    <script src="~/content/vendor/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/scripts/views/messages.js"></script>
}